body {
    background-image: url('./../images/9a85cb6b-c402-4117-9530-8bd26035d2d1.jpeg'); 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: fixed; 
    margin: 0; 
    height: 100vh
}
h1{
    font-size: 25 ;
        color:maroon;
    
}
h2 {font-size: 25 ;
    color: green;
}
h3 {
    font-size: 25 ;
    color:blueviolet

}
h4{
    font-size: 25 ;
    color:aqua
    
    
}
h5{
    font-size: 25;
    color:purple
}
h6{
    font-size: 25 ;
    color:yellow

}
h1, h2, h3, h4, h5,h6{
    text-decoration: underline;
}
p{
    font-size: 20px;
    font-style: bold;
}
ul{
    font-size: 20px;
    border: 1px solid #0c0c0c; /* Example border style */
    padding: 20px;
}

#bold-text {
    font-weight: bold;
    }
    /* Basic styling for the accordion */
.accordion-item {
    margin-bottom: 10px;
}

.accordion-title {
   
    padding: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.accordion-content {
    display: none;
    padding: 10px;
   
    border-top: none;
    border-radius: 0 0 4px 4px;
    background-color: #faf9f9;
}
